<!-- <%= render 'form' %> -->

<%= form_for @note, url: {action: "update"}, html: {class: "note_form", :multipart => true} do |f| %>

  <%= f.submit "Save" %> or <%= link_to 'Cancel', notes_path %>

  <hr/>

  <%= label_tag(:archived, "Archived?") %>
  <%= f.check_box(:archived) %> <br/>

  <hr/>

  <%= label_tag(:category, "Category") %>

  <select id="select_note_category" name="note-category">
    <option value="text">Text</option>
    <option value="question">Question</option>
    <option value="quote">Quote</option>
    <option disabled>---------</option>
    <option value="place">Place</option>
    <option value="url">URL</option>
    <option value="file">File</option>
    <option disabled>---------</option>
    <option value="book">Book</option>
    <option value="movie">Movie</option>
    <option value="tv-show">TV Show</option>
    <option value="music">Music</option>
    <option disabled>---------</option>
    <option value="recipe">Recipe</option>
    <option value="image-note">Image Note</option>
    <option disabled>---------</option>
    <option value="other">Other</option>
  </select>

  <%= f.text_field :category %>

  <hr/>

  <div class="metadata-section">
    <%= label_tag(:metadata, "Metadata") %>
    <%= f.text_field :metadata %> <br/>

    <div class="meta-fieldgroup meta-fieldinsert">

      <% case @note.category %>
      <% when "question" %>
        <%= label_tag(:question, "Question") %>
        <%= f.text_field :question %>
        <br/>
        <%= label_tag(:answered, "Answered?") %>
        <%= f.check_box :answered, {}, "1", "" %>

      <% when "quote" %>
        <%= label_tag(:quote, "Quote") %>
        <%= f.text_field :quote %>
        <br/>
        <%= label_tag(:quote_source, "By") %>
        <%= f.text_field :quote_source %>

      <% when "place" %>
        <%= label_tag(:place, "Place") %>
        <%= f.text_field :place %>
        <br/>
        <%= label_tag(:place_latitude, "Latitude") %>
        <%= f.text_field :place_latitude %>
        <br/>
        <%= label_tag(:place_longitude, "Longitude") %>
        <%= f.text_field :place_longitude %>

      <% when "url" %>
        <%= label_tag(:url, "URL") %>
        <%= f.text_field :url %>
        <br/>
        <%= label_tag(:url_tags, "Tags") %>
        <%= f.text_field :url_tags %>

      <% when "file" %>
        <% if !(@note.file_url) %>
          <%= label_tag(:attachment, "File") %>
          <%= f.file_field :attachment %>
        <% else %>
          <%= label_tag("File") %>
          <%= link_to @note.file_name, @note.file_url %>
          <br/>
          <%= label_tag("Type") %>
          <%= @note.file_type %>
          <br/>
          <%= label_tag("Size") %>
          <%= @note.file_size %>
        <% end %>

      <% when "book" %>
        <%= label_tag(:book_title, "Title") %>
        <%= f.text_field :book_title %>
        <br/>
        <%= label_tag(:book_author, "Author") %>
        <%= f.text_field :book_author %>
        <br/>
        <%= label_tag(:book_pubdate, "Published on") %>
        <%= f.text_field :book_pubdate %>

      <% when "movie" %>
        <%= label_tag(:movie_title, "Movie") %>
        <%= f.text_field :movie_title %>
        <br/>
        <%= label_tag(:movie_director, "Director") %>
        <%= f.text_field :movie_director %>
        <br/>
        <%= label_tag(:movie_releasedate, "Released on") %>
        <%= f.text_field :movie_releasedate %>

      <% when "tv-show" %>
        <%= label_tag(:tvshow_title, "Title") %>
        <%= f.text_field :tvshow_title %>
        <br/>
        <%= label_tag(:tvshow_creator, "Creator") %>
        <%= f.text_field :tvshow_creator %>
        <br/>
        <%= label_tag(:tvshow_startdate, "Started on") %>
        <%= f.text_field :tvshow_startdate %>
        <br/>
        <%= label_tag(:tvshow_season, "Season") %>
        <%= f.text_field :tvshow_season %>
        <br/>
        <%= label_tag(:tvshow_episode, "Episode") %>
        <%= f.text_field :tvshow_episode %>

      <% when "music" %>
        <%= label_tag(:music_artist, "Artist") %>
        <%= f.text_field :music_artist %>
        <br/>
        <%= label_tag(:music_album, "Album") %>
        <%= f.text_field :music_album %>
        <br/>
        <%= label_tag(:music_track, "Track") %>
        <%= f.text_field :music_track %>
        <br/>
        <%= label_tag(:music_releasedate, "Released on") %>
        <%= f.text_field :music_releasedate %>

      <% when "recipe" %>
        <%= label_tag(:recipe, "Recipe") %>
        <%= f.text_field :recipe %>
        <br/>
        <%= label_tag(:recipe_source, "By") %>
        <%= f.text_field :recipe_source %>
        <br/>
        <%= f.text_area :recipe_ingredients, :placeholder => "Ingredients" %> <br/>
        <%= f.text_area :recipe_steps, :placeholder => "Steps" %> <br/>

      <% when "image-note" %>
        <%= label_tag(:imagenote, "Image") %>
        <%= f.text_field :imagenote %>
        <br/>
        <%= label_tag(:imagenote_x, "X") %>
        <%= f.text_field :imagenote_x %>
        <br/>
        <%= label_tag(:imagenote_y, "Y") %>
        <%= f.text_field :imagenote_y %>

      <% end %>
    </div> <!-- End .meta-fieldinsert -->
  </div> <!-- End .metadata-section -->

  <hr/>

  <%= f.text_field :title, :placeholder => "Title", class: "note_title" %> <br/>
  <%= f.text_area :content, :placeholder => "Content", class: "note_content" %> <br/>

<% end %>