<h1>All Notes</h1>
<%= link_to 'New Note', new_note_path %>

<hr>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>C</th> <!-- Category  -->
      <th>M</th> <!-- Metadata  -->
      <th>A</th> <!-- Archived? -->
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td><%= note.category %></td>
        <td><%= note.metadata %></td>
        <td><%= note.archived %></td>
        <td><%= link_to 'Open', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
