<!-- <%= render 'form' %> -->

<%= form_for @note, url: {action: "create"}, html: {class: "note_form", :multipart => true} do |f| %>

  <%= f.submit "Save" %> or <%= link_to 'Cancel', notes_path %>

  <hr/>

  <div class="select-notebooks">
    <%= collection_check_boxes(:note, :notebook_ids, Notebook.all, :id, :name) %>
  </div>

  <hr/>

  <%= label_tag(:archived, "Archived?") %>
  <%= f.check_box(:archived) %> <br/>

  <hr/>

  <%= label_tag(:category, "Category") %>

  <select id="select_note_category" name="note-category">
    <option value="text">Text</option>
    <option value="question">Question</option>
    <option value="quote">Quote</option>
    <option disabled>---------</option>
    <option value="place">Place</option>
    <option value="url">URL</option>
    <option value="file">File</option>
    <option disabled>---------</option>
    <option value="book">Book</option>
    <option value="movie">Movie</option>
    <option value="tv-show">TV Show</option>
    <option value="music">Music</option>
    <option disabled>---------</option>
    <option value="recipe">Recipe</option>
    <option value="image-note">Image Note</option>
    <option disabled>---------</option>
    <option value="other">Other</option>
  </select>

  <%= f.text_field :category %>

  <hr/>

  <div class="metadata-section">
    <%= label_tag(:metadata, "Metadata") %>
    <%= f.text_field :metadata %> <br/>

    <div class="meta-fieldgroup meta-fieldinsert">
    </div>
  </div>

  <hr/>

  <%= f.text_field :title, :placeholder => "Title", class: "note_title" %> <br/>
  <%= f.text_area :content, :placeholder => "Content", class: "note_content" %> <br/>

<% end %>