<p id="notice"><%= notice %></p>

<%= link_to 'Edit note', edit_note_path(@note) %> or see all
<%= link_to 'notes', notes_path %> or
<%= link_to 'notebooks', notebooks_path %>

<hr>

<h1><%= @note.title %></h1>

<div class="note-content">
  <%= raw(markdown(@note.content)) %>
</div>

<hr>

<p>
  <strong>Category:</strong>
  <%= @note.category %>
</p>

<p>
  <strong>Metadata:</strong>
  <%= @note.metadata %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @note.archived %>
</p>

<% if @note.file_url %>
<p>
  <strong>Attachment:</strong>
  <%= link_to @note.file_name, @note.file_url %>
  <%= @note.file_type %>
  <%= @note.file_size %>
</p>
<% end %>

<p>
  <strong>Notebooks:</strong>
  <ul>
    <% @note.notebooks.each do |n| %>
      <li><%= n.name %></li>
    <% end %>
  </ul>
</p>