<p id="notice"><%= notice %></p>

<%= link_to 'Edit note', edit_note_path(@note) %> or <%= link_to 'Go back to all notes', notes_path %>

<hr>

<h1><%= @note.title %></h1>

<div class="note-content">
  <%= raw(markdown(@note.content)) %>
</div>

<hr>

<p>
  <strong>Category:</strong>
  <%= @note.category %>
</p>

<p>
  <strong>Metadata:</strong>
  <%= @note.metadata %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @note.archived %>
</p>